* { font-family: monospace; }

body {
    width: 100%;
    height: 120vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    background: linear-gradient(190deg, #000 40%, #282369 100%);
    overflow-x: hidden; 
}

.tabcontent, .scale-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent; 
}

#rockpaperscissors { width: 100%; height: 100vh; }

.tablinks {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tablinks img {
    width: 30px;
    filter: grayscale(1);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    margin: 1.5rem;
}

.tablinks img:hover { transform: scale(1.1); }
.tablinks img.active { width: 30px; filter: invert(1) drop-shadow(0px 0px 5px blue); }

h1 {
    margin: 1rem;
    color: aliceblue;
    letter-spacing: 2px;
    text-align: center;
}

.choices,
.bot-choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.choice,
.bot-choice {
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    background-color: black;
    opacity: 0.6;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 1px 2px aliceblue;
    border-radius: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.green { background-image: linear-gradient(65deg, #338864, #33cc64); }
.red { background-image: linear-gradient(65deg, #e0115f, #ff445f); }
.grey { background-image: linear-gradient(65deg, #8391a1, #a5b3c3); }
.avatar { font-size: 40px; }
.comm { font-size: 30px; }
.comm-2 { font-size: 30px; margin-left: 1rem; }
.outcome { color: aliceblue; font-size: larger; }

.reset {
    color: skyblue;
    text-decoration: underline;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.footer {
    display: none;
    position: fixed;
    bottom: 2rem;
    margin: 0 auto;
    color: #a5b3c3;
    font-size: smaller;
    text-align: center;
}

.score {
    width: 100%;
    color: aliceblue;
    margin: 2rem;
    font-size: large;
    text-align: center;
}

@media screen and (max-width:460px) {
    main#rockpaperscissors, .scale-wrapper {
        transform: scale(0.7);
    }
}

@media screen and (max-width:780px) and (max-height:500px) {
    main#rockpaperscissors, .scale-wrapper {
        display: none;
    }
}

:root { --border-style: 5px solid lightblue; }

#diff-label {
    font-size: 16px;
    color: #0073cf;
    margin-bottom: 5rem;
}

main#tictactoe {
    width: 100%;
    height: 100vh;
    display: none;
}

.scale-wrapper { width: 100%; height: 100vh; }

#board {
    margin: 0 auto;
    position: relative;
    width: 20rem;
    height: 20rem;
    grid-area: board;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "C0 C1 C2"
        "C3 C4 C5"
        "C6 C7 C8";
}

#C0, #C1, #C2 { border-bottom: var(--border-style); }
#C6, #C7, #C8 { border-top: var(--border-style); }
#C0, #C3, #C6 { border-right: var(--border-style); }
#C2, #C5, #C8 { border-left: var(--border-style); }

.selector-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
}

.selector-wrapper img {
    width: 20px;
    margin: 1rem;
    filter: invert(40%) drop-shadow(0 0 2px #0073cf);
}

.selector-wrapper img#opp { filter: invert(80%) drop-shadow(0px 0px 2px #0073cf); }

#selector {
    font-size: 20px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#output {
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.level-wrapper {
    position: absolute;
    right: 2rem;
    top: 50%;
}

.level { cursor: pointer; -webkit-tap-highlight-color: transparent; }
.level img { width: 30px; filter: drop-shadow(0 0 2px #0073cf); }

#icon-circle, #icon-cross {
    width: 60%;
    height: 60%;
    filter: invert(80%) drop-shadow(0px 0px 2px #0073cf);
}

#icon-cross { filter: invert(40%) drop-shadow(0px 0px 2px #0073cf); }

.cell {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}