*:not(.card-front, .card-back) {
    font-family: monospace;
    text-transform: lowercase;
    -webkit-tap-highlight-color: transparent;
}

body {
    width: 100%;
    height: 120vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    background-image: linear-gradient(190deg, #000 40%, #282369 100%);
    overflow-x: hidden;
}

.tabcontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
}

#rockpaperscissors {
    width: 100%;
    height: 100vh;
}

.cap-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cap-container>p {
    color: aliceblue;
    font-size: medium;
}

#cap {
    color: aliceblue;
    width: 2rem;
    height: 2rem;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    box-shadow: 0 0 2px 1px #169bf3;
}

.tablinks {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.tablinks img {
    width: 30px;
    filter: grayscale(1);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    margin: 1.5rem;
}

.tablinks img:hover {
    transform: scale(1.1);
}

.tablinks img.active {
    width: 30px;
    filter: invert(1) drop-shadow(0px 0px 5px blue);
}

.choices,
.bot-choices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

#bot-rock,
#rock {
    background-image: url('../res/rock.svg');
}

#bot-paper,
#paper {
    background-image: url('../res/paper.svg');
}

#bot-scissor,
#scissor {
    background-image: url('../res/scissor.svg');
}

.choice,
.bot-choice {
    width: 30px;
    height: 30px;
    font-size: 25px;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: black;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 1px 2px #169bf3;
    border-radius: 50px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.green {
    box-shadow: 0 0 1px 2px #33cc64;
}

.red {
    box-shadow: 0 0 1px 2px #ff445f;
}

.grey {
    box-shadow: 0 0 1px 2px #a5b3c3;
}

.avatar {
    width: 2rem;
    height: 2rem;
    background-image: url('../res/user.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#bot-avatar {
    background-image: url('../res/bot.svg');
}

#bot-choice-emoji,
#user-choice-emoji {
    width: 2rem;
    height: 2rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0.4rem;
}

.rps-outcome {
    color: aliceblue;
    font-size: larger;
}

.footer {
    display: none;
    position: fixed;
    bottom: 2rem;
    margin: 0 auto;
    color: #a5b3c3;
    font-size: smaller;
    text-align: center;
}

.rps-score {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    margin: 2rem;
    font-size: large;
}

.rotate-warning {
    display: none;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100vh;
    text-align: center;
}

#playing-as {
    font-size: 12px;
    color: #169bf3;
    margin-bottom: 5rem;
    font-weight: bolder;
}

/* tic tac toe style */

main#tictactoe,
main#sudoku,
main#memory-game,
main#shootout {
    width: 100%;
    height: 100%;
    display: none;
}

#tac-board {
    margin: 0 auto;
    position: relative;
    grid-area: board;
    display: grid;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "C0 C1 C2"
        "C3 C4 C5"
        "C6 C7 C8";
}

.tac-players-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}

.tac-players-wrapper img {
    width: 16px;
    margin: 1rem;
    filter: invert(40%) drop-shadow(0 0 2px #169bf3);
}

.tac-players-wrapper img#tac-opponent {
    filter: invert(80%) drop-shadow(0px 0px 2px #169bf3);
}

#tac-players {
    font-size: 12px;
    font-weight: bold;
    color: aliceblue;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

#tac-result {
    font-size: 12px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}

.tac-level-wrapper {
    position: absolute;
    right: 2rem;
    top: 50%;
}

.tac-level {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.tac-level img {
    width: 30px;
    filter: drop-shadow(0 0 2px #169bf3);
}

#icon-circle,
#icon-cross {
    width: 60%;
    height: 60%;
    filter: invert(80%) drop-shadow(0px 0px 2px #169bf3);
}

#icon-cross {
    filter: invert(40%) drop-shadow(0px 0px 2px #169bf3);
}

.tac-cell {
    width: 3.75rem;
    height: 3.75rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
}

.tac-cell:nth-child(2n) {
    box-shadow: 0 0 1px 1px #169bf3;
}

/* sudoku style */

hr {
    width: 50%;
}

.progress-wrapper {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1,
#sudoku-moves,
#sudoku-timer,
#memory-moves,
#memory-timer,
#active-level,
#memory-result,
#shootout-score,
#goal-status {
    font-weight: bolder;
    font-size: large;
    margin: 1rem;
    color: aliceblue;
    letter-spacing: 1px;
}

#memory-result {
    margin-top: 3rem;
    font-size: small;
    text-align: center;
}

#active-level,
#memory-active-level {
    margin: 0;
    color: #169bf3;
    font-size: 12px;
}

.pick-level-wrapper {
    width: 6rem;
    height: 80vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 1rem;
}

.sudoku-level,
.memory-level {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;
}

.level-text {
    color: #282369;
    font-weight: bolder;
    padding: 0.3rem;
    text-align: end;
    margin-right: 0.4rem;
    box-shadow: 0 0 2px 1px #169bf3;
    background-image: linear-gradient(to right, lightgrey, aliceblue);
}

#sudoku-board {
    width: 270px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sudoku-dialog,
#sudoku-complete {
    color: aliceblue;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1px;
}

#sudoku-complete {
    width: 225px;
    margin-top: 1rem;
}

.sudoku-tile {
    width: 26.4px;
    height: 27.6px;
    border: 1.2px solid #169bf3;
    font-size: 20px;
    color: #169bf3;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-tile:hover {
    background: rgba(22, 255, 243, 0.2);
}

#digits {
    width: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.digit {
    width: 44px;
    height: 44px;
    border: 1px solid #282369;
    margin: 2px;
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #169bf3;
    background: black;
    cursor: pointer;
}

.actions,
.reset-rounds {
    width: 100%;
    position: fixed;
    bottom: 5rem;
    display: flex;
    justify-content: center;
}

.reset-rounds,
#start-action,
#solve-action,
#level-action,
#memory-start-action,
#memory-level-action,
#start-shootout {
    width: fit-content;
    min-width: 80px;
    padding: 1.2rem;
    background: transparent;
    border: 0;
    outline: 1px solid #169bf3;
    display: flex;
    margin: 4px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

button:disabled {
    opacity: 0.4;
}

.selected,
.started {
    box-shadow: inset 0 0 70px 0 #169bf3;
}

.start-tile,
.start-tile:hover {
    background: rgba(22, 255, 243, 0.4);
}

.horizontal-line {
    margin-bottom: 4px;
}

.vertical-line {
    margin-right: 4px;
}

/* memory game style */

#memory-board {
    display: grid;
    grid-gap: 0.5rem;
}

.card-holder {
    position: relative;
    width: 46px;
    height: 56px;
    cursor: pointer;
    margin: 2px;
    color: aliceblue;
    font-weight: bold;
}

.card-front,
.card-back {
    position: absolute;
    font-size: smaller;
    text-transform: uppercase;
    text-shadow: 2px 10px 5px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-front {
    box-sizing: border-box;
    background: #169bf3;
    background-image: radial-gradient(darkblue, midnightblue);
    box-shadow: 0 0 1px 0.5px royalblue;
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    text-align: center;
    background: #3f3f3f;
    box-shadow: 0 0 1px 0.5px #3f3f3f;
    transform: rotateY(180deg) rotateZ(0deg);
    user-select: none;
}

.card-holder.flipped .card-front {
    transform: rotateY(180deg) rotateZ(0deg);
}

.card-holder.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.match {
    transition: all .3s ease-in-out;
}

@keyframes gravity {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    55% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

/* shootout style */

#shootout-score {
    margin: 1rem 0;
    letter-spacing: 0;
}

#goal-status {
    text-align: center;
    margin-top: 3rem;
}

#shootout-hint {
    height: 2rem;
    color: aliceblue;
    font-weight: bolder;
    font-size: small;
}

.scoreboard {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-display {
    width: 20%;
    min-width: 8rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #4169e1;
    background-image: radial-gradient(royalblue, #169bf3);
}

.shootout-progress {
    width: 37%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shootout-progress.user {
    justify-content: flex-start;
}

.shootout-progress.bot {
    flex-direction: row-reverse;
    justify-content: flex-start;
}

.shootout-progress span {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    box-shadow: 0 0 2px 1px #169bf3;
}

.goal-post-container {
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-bottom: 1px groove #169bf3;
}

.goal-post {
    width: 15rem;
    height: 8rem;
    display: flex;
    flex-direction: row;
    border-top: 8px groove lightgrey;
    border-left: 8px groove lightgrey;
    border-right: 8px groove lightgrey;
    box-sizing: border-box;
}

.ball-direction {
    width: 100%;
    height: 100%;
    margin: 1px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(22, 255, 243, 0.2);
    z-index: 10;
}

#keeper-direction {
    width: 4rem;
    height: 4rem;
    position: absolute;
    font-size: 3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(5rem) translateY(2rem);
    background-image: url('../res/goalie.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

#football {
    width: 1rem;
    height: 1rem;
    transform: translate(0rem, 5rem);
    padding: 0.5rem;
    text-align: center;
    text-shadow: 0 8px 10px rgba(0, 0, 0, 1);
    background-image: url('../res/football.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

#shooter-turn {
    width: 2rem;
    height: 2rem;
    margin-top: 8rem;
    background-image: url('../res/user.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 1s ease-in-out;
}

@keyframes toleft {
    from {
        transform: translate(0, 5rem) rotate(0deg);
    }

    to {
        transform: translate(-5rem, -5rem) rotate(360deg);
    }
}

@keyframes tomiddle {
    from {
        transform: translate(0, 5rem) rotate(0deg);
    }

    to {
        transform: translate(0, -5rem) rotate(360deg);
    }
}

@keyframes toright {
    from {
        transform: translate(0, 5rem) rotate(0deg);
    }

    to {
        transform: translate(5rem, -5rem) rotate(360deg);
    }
}

/* applying the animation to the ball */
#football.left {
    animation: toleft 1s linear alternate;
}

#football.middle {
    animation: tomiddle 1s linear alternate;
}

#football.right {
    animation: toright 1s linear alternate;
}

@keyframes keepertoleft {
    from {
        transform: translateX(5rem) translateY(2rem);
    }

    to {
        transform: translateX(0) translateY(2rem);
    }
}

@keyframes keepertomiddle {
    from {
        transform: translateX(5rem) translateY(2rem);
    }

    to {
        transform: translateX(5rem) translateY(2rem);
    }
}

@keyframes keepertoright {
    from {
        transform: translateX(5rem) translateY(2rem);
    }

    to {
        transform: translateX(10rem) translateY(2rem);
    }
}

/* applying goalkeeper animation */
#keeper-direction.left {
    animation: keepertoleft 1s linear alternate;
}

#keeper-direction.middle {
    animation: keepertomiddle 1s linear alternate;
}

#keeper-direction.right {
    animation: keepertoright 1s linear alternate;
}

/* Responsive */


@media screen and (orientation:landscape) {
    .rotate-warning {
        display: none;
    }

    .score-display {
        width: 10rem;
    }
}
